<div class="author">
  <h1 class="author__heading">Hey, I am Sam</h1>
  <p class="author__body">Web Developer</p>
</div>

<img src="/img/hero-image.jpg" alt="Person on a rock looking over the valleys" class="hero-image" width="981" height="528">

<section class="articles">
  <h2 class="articles__heading">Latest Post</h2>

  <ul class="article-ul">
    <% data.forEach(post => { %>
      <li>
        <a href="/post/<%= post.id %>">
          <span><%= post.title %></span>
          <span class="article-list__date"><%= post.createdAt.toDateString() %></span>
        </a>
      </li>
    <% }) %>
  </ul>
  <a href="#" class="pagination">&lt; View Older Posts</a>
</section>
